final v1.4.json
[{"id":"4559f07e.c899b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b3d58bf7.07ec18","type":"inject","z":"4559f07e.c899b","name":"","props":[{"p":"districts_data","v":"{\"Ampara\":{\"Hospital_name\":[],\"number_of_hos\":0},\"Anuradhapura\":{\"Hospital_name\":[5],\"number_of_hos\":1},\"Badulla\":{\"Hospital_name\":[13],\"number_of_hos\":1},\"Batticaloa\":{\"Hospital_name\":[9,34],\"number_of_hos\":2},\"Colombo\":{\"Hospital_name\":[14,15,17,18,24,25,26,29,32,23,36,1,2],\"number_of_hos\":13},\"Galle\":{\"Hospital_name\":[4],\"number_of_hos\":1},\"Gampaha\":{\"Hospital_name\":[10,11,3,35],\"number_of_hos\":4},\"Hambantota\":{\"Hospital_name\":[19],\"number_of_hos\":1},\"Jaffna\":{\"Hospital_name\":[7],\"number_of_hos\":1},\"Kalutara\":{\"Hospital_name\":[22,33],\"number_of_hos\":2},\"Kandy\":{\"Hospital_name\":[8],\"number_of_hos\":1},\"Kegalle\":{\"Hospital_name\":[],\"number_of_hos\":0},\"Kilinochchi\":{\"Hospital_name\":[],\"number_of_hos\":0},\"Kurunegala\":{\"Hospital_name\":[6],\"number_of_hos\":1},\"Mannar\":{\"Hospital_name\":[],\"number_of_hos\":0},\"Matale\":{\"Hospital_name\":[],\"number_of_hos\":0},\"Matara\":{\"Hospital_name\":[28],\"number_of_hos\":1},\"Moneragala\":{\"Hospital_name\":[20],\"number_of_hos\":1},\"Mullaitivu\":{\"Hospital_name\":[],\"number_of_hos\":0},\"Nuwara Eliya\":{\"Hospital_name\":[],\"number_of_hos\":0},\"Polonnaruwa\":{\"Hospital_name\":[16,21],\"number_of_hos\":2},\"Puttalam\":{\"Hospital_name\":[27,31],\"number_of_hos\":2},\"Ratnapura\":{\"Hospital_name\":[12],\"number_of_hos\":1},\"Trincomalee\":{\"Hospital_name\":[],\"number_of_hos\":0},\"Vavuniya\":{\"Hospital_name\":[30],\"number_of_hos\":1}}","vt":"json"}],"repeat":"600","crontab":"","once":true,"onceDelay":"1","topic":"","x":140,"y":220,"wires":[["76d6f6bf.693e98"]]},{"id":"76d6f6bf.693e98","type":"function","z":"4559f07e.c899b","name":"fetch_data_from_api","func":"var i;\nvar j;\nlet safety_factor = 0.001;\nlet total = 0;\nlet districts = [\"Ampara\",\n        \"Anuradhapura\",\n        \"Badulla\",\n        \"Batticaloa\",\n        \"Colombo\",\n        \"Galle\",\n        \"Gampaha\",\n        \"Hambantota\",\n        \"Jaffna\",\n        \"Kalutara\",\n        \"Kandy\",\n        \"Kegalle\",\n        \"Kilinochchi\",\n        \"Kurunegala\",\n        \"Mannar\",\n        \"Matale\",\n        \"Matara\",\n        \"Moneragala\",\n        \"Mullaitivu\",\n        \"Nuwara Eliya\",\n        \"Polonnaruwa\",\n        \"Puttalam\",\n        \"Ratnapura\",\n        \"Trincomalee\",\n        \"Vavuniya\"]\n        \nlet data = global.get(\"data\");\n// let result_safety_fac = {};\nlet result = {};\nfor (i = 0; i < 25; i++) {\n     total =0\n    // do something with msg.payload[i]\n    for (j = 0;j < msg.districts_data[districts[i]].number_of_hos;j++){\n        total += data[msg.districts_data[districts[i]].Hospital_name[j]-1].cumulative_local;\n    }\n    // result_safety_fac[districts[i]] = total/district_pop[i];\n    result[districts[i]] = total;\n}\nlet date = 0;\nreturn{\n    total:total,\n    data:data,\n    districts_data:msg.districts_data,\n    districts:districts,\n    result:result,\n    // safety_facs:result_safety_fac,\n    date:date\n};\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":160,"wires":[["a547e118.0aad2"]]},{"id":"33ee1ac6.19ed76","type":"debug","z":"4559f07e.c899b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":180,"wires":[]},{"id":"12d78bd5.343344","type":"http request","z":"4559f07e.c899b","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://hpb.health.gov.lk/api/get-current-statistical","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":360,"wires":[["70bf3b91.fa2154"]]},{"id":"70bf3b91.fa2154","type":"change","z":"4559f07e.c899b","name":"","rules":[{"t":"set","p":"data","pt":"global","to":"payload.data.hospital_data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":380,"wires":[["fc559d78.15cc5"]]},{"id":"1d5b4054.2891f","type":"inject","z":"4559f07e.c899b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":360,"wires":[["12d78bd5.343344"]]},{"id":"fe388381.40abf","type":"inject","z":"4559f07e.c899b","name":"","props":[{"p":"payload"}],"repeat":"86400","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":110,"y":480,"wires":[["ae87c4ba.a99d48"]]},{"id":"a547e118.0aad2","type":"function","z":"4559f07e.c899b","name":"msg_paths_&_Daily_Data","func":"//data\nlet today = new Date().toJSON().slice(0,10).replace(/-/g,'/');\n\n//msg paths\nvar msgpath1 = \"cumulative_local/\"+today;\nvar msgpath2 = \"daily_data/\"+today;\nvar msgpath3 = \"safety_factors/\"+today; \n\n//global variables\nlet received_yest_dd = global.get(\"received_yest_dd\");\n\n//local variables\nvar i;\n//make the msg.resuls JSON\nlet json_result = JSON.stringify(msg.result);\nlet district_pop = [648057,\n856232,\n811758,\n525142,\n2309809,\n1058771,\n2294641,\n596617,\n583378,\n1217260,\n1369899,\n836603,\n112875,\n1610299,\n99051,\n482229,\n809344,\n448142,\n91947,\n706588,\n403335,\n759776,\n1082277,\n378182,\n171511,\n2026372]\nlet safety_facs = {};\n//checking whether the daily accumated data received or not\nif (received_yest_dd){\n    let yesterday_dd = global.get(\"yesterday_dd\");\n    let daily_data = {};\n    \n    for (i =0;i<25;i++)\n    {\n        daily_data[msg.districts[i]] = msg.result[msg.districts[i]] - yesterday_dd[msg.districts[i]];\n        \n    }\n    for (i = 0; i<25; i++){\n        safety_facs[msg.districts[i]] = ((parseFloat(daily_data[msg.districts[i]])/parseFloat(district_pop[i])) <0.00001)? 1:0;\n    }\n    let json_daily_data = JSON.stringify(daily_data);\n    let json_safety_facs = JSON.stringify(safety_facs);\n    \n    return {\n        yesterday_dd : yesterday_dd,\n        daily_data : json_daily_data,\n        msgpath1 :msgpath1,\n        msgpath2 : msgpath2,\n        msgpath3 : msgpath3,\n        result :json_result,\n        received_yest_dd : received_yest_dd,\n        safety_facs : json_safety_facs,\n        date:today,\n        districts : msg.districts\n        \n    };\n}\n\nreturn {\n        msgpath1 :msgpath1,\n        msgpath2 : msgpath2,\n        msgpath3 : msgpath3,\n        result :json_result,\n        received_yest_dd : received_yest_dd,\n        date:today,\n        districts : msg.districts\n        \n    };\n\n\n// \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":280,"wires":[["a75cb17f.088328"]]},{"id":"a75cb17f.088328","type":"change","z":"4559f07e.c899b","name":"","rules":[{"t":"set","p":"msgpath1","pt":"global","to":"msgpath1","tot":"msg"},{"t":"set","p":"result","pt":"global","to":"result","tot":"msg"},{"t":"set","p":"daily_data","pt":"global","to":"daily_data","tot":"msg"},{"t":"set","p":"msgpath2","pt":"global","to":"msgpath2","tot":"msg"},{"t":"set","p":"msgpath3","pt":"global","to":"msgpath3","tot":"msg"},{"t":"set","p":"safety_facs","pt":"global","to":"safety_facs","tot":"msg"},{"t":"set","p":"date","pt":"global","to":"date","tot":"msg"},{"t":"set","p":"districts","pt":"global","to":"districts","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":260,"wires":[["33ee1ac6.19ed76"]]},{"id":"ae87c4ba.a99d48","type":"change","z":"4559f07e.c899b","name":"","rules":[{"t":"set","p":"childpath","pt":"msg","to":"msgpath1","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"result","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":460,"wires":[["9b043ef0.15066"]]},{"id":"fc559d78.15cc5","type":"debug","z":"4559f07e.c899b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":320,"wires":[]},{"id":"9b043ef0.15066","type":"firebase modify","z":"4559f07e.c899b","name":"Nipun Base Cumulative Data","firebaseconfig":"","childpath":"msg.childpath","method":"push","value":"msg.payload","priority":"msg.priority","x":600,"y":480,"wires":[[]]},{"id":"21ffd97b.4e7026","type":"inject","z":"4559f07e.c899b","name":"","props":[{"p":"payload"}],"repeat":"86400","crontab":"","once":true,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":110,"y":580,"wires":[["b4ddc50e.b96a7"]]},{"id":"8099f8cb.7ad25","type":"debug","z":"4559f07e.c899b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":580,"wires":[]},{"id":"b4ddc50e.b96a7","type":"change","z":"4559f07e.c899b","name":"","rules":[{"t":"set","p":"childpath","pt":"msg","to":"msgpath2","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"daily_data","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":520,"wires":[["ce3cfe9.1e8438"]]},{"id":"ce3cfe9.1e8438","type":"firebase modify","z":"4559f07e.c899b","name":"Nipun Base Daily Data","firebaseconfig":"","childpath":"msg.childpath","method":"push","value":"msg.payload","priority":"msg.priority","x":480,"y":640,"wires":[["8099f8cb.7ad25"]]},{"id":"eba9479c.d2455","type":"inject","z":"4559f07e.c899b","name":"","props":[{"p":"payload"}],"repeat":"86400","crontab":"","once":true,"onceDelay":"9","topic":"","payload":"","payloadType":"date","x":210,"y":860,"wires":[["ca337993.93d918"]]},{"id":"2b452cdf.c5a654","type":"debug","z":"4559f07e.c899b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":800,"wires":[]},{"id":"ca337993.93d918","type":"change","z":"4559f07e.c899b","name":"","rules":[{"t":"set","p":"childpath","pt":"msg","to":"msgpath3","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"safety_facs","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":880,"wires":[["ceecc82.223d938"]]},{"id":"ceecc82.223d938","type":"firebase modify","z":"4559f07e.c899b","name":"Nipun Base Safety Factors","firebaseconfig":"","childpath":"msg.childpath","method":"push","value":"msg.payload","priority":"msg.priority","x":680,"y":840,"wires":[["2b452cdf.c5a654"]]},{"id":"bacec10.754d64","type":"firebase.on","z":"4559f07e.c899b","name":"Receive Past Data","firebaseconfig":"","childpath":"","atStart":true,"eventType":"value","queries":[],"x":170,"y":940,"wires":[["ae8b8cfd.1b4ad"]]},{"id":"ae8b8cfd.1b4ad","type":"function","z":"4559f07e.c899b","name":"trend_check","func":"let districts= global.get(\"districts\");\nlet date = new Date().toJSON().slice(0,10).replace(/-/g,'/');\nlet tdd = msg.payload.daily_data[date];\n\nconst today = new Date();\nconst yesterday = new Date(today);\nconst day_befo_yes = new Date(today);\nconst day_bef_bef_yes = new Date(today);\n\nyesterday.setDate(yesterday.getDate() - 1);\nday_befo_yes.setDate(yesterday.getDate() - 2);\nday_bef_bef_yes.setDate(yesterday.getDate() - 3);\n\ntoday.toDateString();\nyesterday.toDateString();\nday_befo_yes.toDateString();\nday_bef_bef_yes.toDateString();\n\ndate1 = yesterday.toJSON().slice(0,10).replace(/-/g,'/');\ndate2 = day_befo_yes.toJSON().slice(0,10).replace(/-/g,'/');\ndate3 = day_bef_bef_yes.toJSON().slice(0,10).replace(/-/g,'/');\n\ndd1 = msg.payload.daily_data[date1];\ndd2 = msg.payload.daily_data[date2];\ndd3 = msg.payload.daily_data[date3];\nvar i;\nlet trend = {};\ntry{\nfor (i = 0; i<25;i++){\n    let average = (dd1[districts[i]] + dd2[districts[i]] +dd3[districts[i]])/3;\nvar mqtt_send;\n\nif (average > tdd[districts[i]]){\n    mqtt_send = true;\n}\nelse{\n    mqtt_send = false;\n} //true says that trend is inclining, false says that trend is \n//declining\n    trend[districts[i]] = mqtt_Send;\n}}\ncatch(TypeError){\n    for (i = 0;i<25;i++){\n        trend[districts[i]] = 2\n    }\n}\nmqtt_send_json = JSON.stringify(trend);\nreturn {\n    mqtt_send:mqtt_send_json\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":940,"wires":[["5d2d3c62.51decc"]]},{"id":"5d2d3c62.51decc","type":"change","z":"4559f07e.c899b","name":"","rules":[{"t":"set","p":"mqtt_data","pt":"global","to":"mqtt_send","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":960,"wires":[["bdea1b4a.07dc2"]]},{"id":"14c3050b.9cea53","type":"mqtt in","z":"4559f07e.c899b","name":"","topic":"G8/safety_check/in","qos":"0","datatype":"auto","broker":"a860e12c.343e18","nl":false,"rap":true,"rh":0,"x":150,"y":1040,"wires":[["7e7f759b.b9ec4c"]]},{"id":"1cb483bd.20dbb4","type":"mqtt out","z":"4559f07e.c899b","name":"","topic":"G8/safety_check/in","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a860e12c.343e18","x":790,"y":1180,"wires":[]},{"id":"7e7f759b.b9ec4c","type":"debug","z":"4559f07e.c899b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":1040,"wires":[]},{"id":"30d78941.2e8ab6","type":"firebase.on","z":"4559f07e.c899b","name":"receive-yesterday-cl","firebaseconfig":"","childpath":"msg.childpath","atStart":true,"eventType":"value","queries":[],"x":410,"y":720,"wires":[["12899c2d.692a3c"]]},{"id":"2646a1e9.9b8d3e","type":"change","z":"4559f07e.c899b","name":"","rules":[{"t":"set","p":"yesterday_dd","pt":"global","to":"yesterday_dd","tot":"msg"},{"t":"set","p":"received_yest_dd","pt":"global","to":"received_yest_dd","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":740,"wires":[["f1c1545f.ad49a8"]]},{"id":"581ae365.77712c","type":"function","z":"4559f07e.c899b","name":"","func":"const today = new Date();\nconst yesterday = new Date(today);\nyesterday.setDate(yesterday.getDate() - 1);\nyesterday.toDateString();\nlet date1 = yesterday.toJSON().slice(0,10).replace(/-/g,'/');\nlet childpath = \"cumulative_local/\"+date1;\nreturn {\n    childpath:childpath\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":760,"wires":[["30d78941.2e8ab6"]]},{"id":"f1c1545f.ad49a8","type":"debug","z":"4559f07e.c899b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":700,"wires":[]},{"id":"12899c2d.692a3c","type":"function","z":"4559f07e.c899b","name":"received_check","func":"var received_yest_dd;   \nif (Object.keys(msg.payload).length === 0)\n{   \n   return {received_yest_dd : false}\n   ; \n}\nelse{\n    var unknown_key = Object.keys(msg.payload)[0];\n    var rec_msg = msg.payload[unknown_key]\n    \n    return {\n        yesterday_dd:rec_msg,\n        received_yest_dd : true\n    };\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":780,"wires":[["2646a1e9.9b8d3e"]]},{"id":"567d2ef0.5adf9","type":"inject","z":"4559f07e.c899b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":660,"wires":[["581ae365.77712c"]]},{"id":"cef66d37.882568","type":"inject","z":"4559f07e.c899b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"6","payloadType":"num","x":210,"y":1280,"wires":[["576e2c18.283874"]]},{"id":"576e2c18.283874","type":"mqtt out","z":"4559f07e.c899b","name":"","topic":"G8/node_mcu/sleep","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a860e12c.343e18","x":720,"y":1320,"wires":[]},{"id":"99b1e0fb.64a9","type":"inject","z":"4559f07e.c899b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"safety_facs","payloadType":"global","x":210,"y":1160,"wires":[["48a6cdba.04844c"]]},{"id":"48a6cdba.04844c","type":"function","z":"4559f07e.c899b","name":"make_json","func":"// str = JSON.stringify(msg.payload);\n// // var finalData = str.replace(/\\\\/g, \"\");\n// return{\n//     payload : str\n// };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1120,"wires":[["1cb483bd.20dbb4"]]},{"id":"bdea1b4a.07dc2","type":"debug","z":"4559f07e.c899b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":920,"wires":[]},{"id":"ef1e1b5b.1a039","type":"inject","z":"4559f07e.c899b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"mqtt_data","payloadType":"global","x":230,"y":1220,"wires":[["a6ded3b1.041368"]]},{"id":"a6ded3b1.041368","type":"mqtt out","z":"4559f07e.c899b","name":"","topic":"G8/trend_check/in","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a860e12c.343e18","x":790,"y":1240,"wires":[]},{"id":"a860e12c.343e18","type":"mqtt-broker","name":"","broker":"https://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]