flow_v.0.json
[{"id":"4559f07e.c899b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b3d58bf7.07ec18","type":"inject","z":"4559f07e.c899b","name":"","props":[{"p":"districts_data","v":"{\"Ampara\":{\"Hospital_name\":[],\"number_of_hos\":0},\"Anuradhapura\":{\"Hospital_name\":[5],\"number_of_hos\":1},\"Badulla\":{\"Hospital_name\":[13],\"number_of_hos\":1},\"Batticaloa\":{\"Hospital_name\":[9,34],\"number_of_hos\":2},\"Colombo\":{\"Hospital_name\":[14,15,17,18,24,25,26,29,32,23,36,1,2],\"number_of_hos\":13},\"Galle\":{\"Hospital_name\":[4],\"number_of_hos\":1},\"Gampaha\":{\"Hospital_name\":[10,11,3,35],\"number_of_hos\":4},\"Hambantota\":{\"Hospital_name\":[19],\"number_of_hos\":1},\"Jaffna\":{\"Hospital_name\":[7],\"number_of_hos\":1},\"Kalutara\":{\"Hospital_name\":[22,33],\"number_of_hos\":2},\"Kandy\":{\"Hospital_name\":[8],\"number_of_hos\":1},\"Kegalle\":{\"Hospital_name\":[],\"number_of_hos\":0},\"Kilinochchi\":{\"Hospital_name\":[],\"number_of_hos\":0},\"Kurunegala\":{\"Hospital_name\":[6],\"number_of_hos\":1},\"Mannar\":{\"Hospital_name\":[],\"number_of_hos\":0},\"Matale\":{\"Hospital_name\":[],\"number_of_hos\":0},\"Matara\":{\"Hospital_name\":[28],\"number_of_hos\":1},\"Moneragala\":{\"Hospital_name\":[20],\"number_of_hos\":1},\"Mullaitivu\":{\"Hospital_name\":[],\"number_of_hos\":0},\"Nuwara Eliya\":{\"Hospital_name\":[],\"number_of_hos\":0},\"Polonnaruwa\":{\"Hospital_name\":[16,21],\"number_of_hos\":2},\"Puttalam\":{\"Hospital_name\":[27,31],\"number_of_hos\":2},\"Ratnapura\":{\"Hospital_name\":[12],\"number_of_hos\":1},\"Trincomalee\":{\"Hospital_name\":[],\"number_of_hos\":0},\"Vavuniya\":{\"Hospital_name\":[30],\"number_of_hos\":1}}","vt":"json"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":140,"y":220,"wires":[["76d6f6bf.693e98"]]},{"id":"76d6f6bf.693e98","type":"function","z":"4559f07e.c899b","name":"fetch_data_from_api","func":"var i;\nvar j;\nlet safety_factor = 0.001;\nlet total = 0;\nlet districts = [\"Ampara\",\n        \"Anuradhapura\",\n        \"Badulla\",\n        \"Batticaloa\",\n        \"Colombo\",\n        \"Galle\",\n        \"Gampaha\",\n        \"Hambantota\",\n        \"Jaffna\",\n        \"Kalutara\",\n        \"Kandy\",\n        \"Kegalle\",\n        \"Kilinochchi\",\n        \"Kurunegala\",\n        \"Mannar\",\n        \"Matale\",\n        \"Matara\",\n        \"Moneragala\",\n        \"Mullaitivu\",\n        \"Nuwara Eliya\",\n        \"Polonnaruwa\",\n        \"Puttalam\",\n        \"Ratnapura\",\n        \"Trincomalee\",\n        \"Vavuniya\"]\n        \nlet district_pop = [648057,\n856232,\n811758,\n525142,\n2309809,\n1058771,\n2294641,\n596617,\n583378,\n1217260,\n1369899,\n836603,\n112875,\n1610299,\n99051,\n482229,\n809344,\n448142,\n91947,\n706588,\n403335,\n759776,\n1082277,\n378182,\n171511,\n2026372]\nlet data = global.get(\"data\");\nlet result_safety_fac = {};\nlet result = {};\nfor (i = 0; i < 25; i++) {\n     total =0\n    // do something with msg.payload[i]\n    for (j = 0;j < msg.districts_data[districts[i]].number_of_hos;j++){\n        total += data[msg.districts_data[districts[i]].Hospital_name[j]-1].cumulative_local;\n    }\n    result_safety_fac[districts[i]] = total/district_pop[i];\n    result[districts[i]] = total;\n}\nlet date = 0;\nreturn{\n    total:total,\n    data:data,\n    districts_data:msg.districts_data,\n    districts:districts,\n    result:result,\n    safety_facs:result_safety_fac,\n    date:date\n};\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":160,"wires":[["e652a446.eabde8"]]},{"id":"33ee1ac6.19ed76","type":"debug","z":"4559f07e.c899b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":180,"wires":[]},{"id":"12d78bd5.343344","type":"http request","z":"4559f07e.c899b","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://hpb.health.gov.lk/api/get-current-statistical","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":360,"wires":[["70bf3b91.fa2154"]]},{"id":"70bf3b91.fa2154","type":"change","z":"4559f07e.c899b","name":"","rules":[{"t":"set","p":"data","pt":"global","to":"payload.data.hospital_data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":380,"wires":[[]]},{"id":"1d5b4054.2891f","type":"inject","z":"4559f07e.c899b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":360,"wires":[["12d78bd5.343344"]]},{"id":"5f75c424.f205fc","type":"debug","z":"4559f07e.c899b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":460,"wires":[]},{"id":"fe388381.40abf","type":"inject","z":"4559f07e.c899b","name":"","props":[{"p":"payload"}],"repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":480,"wires":[["ae87c4ba.a99d48"]]},{"id":"a547e118.0aad2","type":"function","z":"4559f07e.c899b","name":"msg_paths_&_Daily_Data","func":"//msg paths\nvar msgpath1 = \"cumulative_local/\"+  msg.date.substr(0, 10);\nvar msgpath2 = \"daily_data/\"+ msg.date.substr(0, 10);\nvar msgpath3 = \"safety_factors/\" + msg.date.substr(0, 10);\n\n//global variables\nlet received = global.get(\"received\");\n\n//local variables\nvar i;\n//make the msg.resuls JSON\nlet json_result = JSON.stringify(msg.result);\nlet json_safety_facs = JSON.stringify(msg.safety_facs);\n//checking whether the daily accumated data received or not\nif(received){\n    let rec_data = global.get(\"rec_data\");\n    let daily_data = {};\n    \n    for (i =0;i<25;i++)\n    {\n        daily_data[msg.districts[i]] = msg.result[msg.districts[i]] - rec_data[msg.districts[i]];\n    }\n    let json_daily_data = JSON.stringify(daily_data);\n    return {\n        rec_data : rec_data,\n        daily_data : json_daily_data,\n        msgpath1 :msgpath1,\n        msgpath2 : msgpath2,\n        msgpath3 : msgpath3,\n        result :json_result,\n        received : received,\n        safety_facs : json_safety_facs,\n        date:msg.date.substr(0, 10)\n        \n    };\n}\n\nreturn {\n        msgpath1 :msgpath1,\n        msgpath2 : msgpath2,\n        msgpath3 : msgpath3,\n        result :json_result,\n        received : received,\n        safety_facs : json_safety_facs,\n        date:msg.date.substr(0, 10)\n    };\n// \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":300,"wires":[["a75cb17f.088328","fc559d78.15cc5"]]},{"id":"e652a446.eabde8","type":"change","z":"4559f07e.c899b","name":"","rules":[{"t":"set","p":"date","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":220,"wires":[["a547e118.0aad2"]]},{"id":"a75cb17f.088328","type":"change","z":"4559f07e.c899b","name":"","rules":[{"t":"set","p":"msgpath1","pt":"global","to":"msgpath1","tot":"msg"},{"t":"set","p":"result","pt":"global","to":"result","tot":"msg"},{"t":"set","p":"daily_data","pt":"global","to":"daily_data","tot":"msg"},{"t":"set","p":"msgpath2","pt":"global","to":"msgpath2","tot":"msg"},{"t":"set","p":"msgpath3","pt":"global","to":"msgpath3","tot":"msg"},{"t":"set","p":"safety_facs","pt":"global","to":"safety_facs","tot":"msg"},{"t":"set","p":"date","pt":"global","to":"date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":260,"wires":[["33ee1ac6.19ed76"]]},{"id":"ae87c4ba.a99d48","type":"change","z":"4559f07e.c899b","name":"","rules":[{"t":"set","p":"childpath","pt":"msg","to":"msgpath1","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"result","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":620,"wires":[["9b043ef0.15066","69aa7d6.281b384"]]},{"id":"fc559d78.15cc5","type":"debug","z":"4559f07e.c899b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":320,"wires":[]},{"id":"889935eb.fd83c","type":"function","z":"4559f07e.c899b","name":"received_check","func":"var received;   \nif (Object.keys(msg.payload).length === 0)\n{   \n   return {received : false}\n   ; \n}\nelse{\n    var unknown_key = Object.keys(msg.payload)[0];\n    var rec_msg = msg.payload[unknown_key]\n    \n    return {\n        rec_msg:rec_msg,\n        received : true\n    };\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":600,"wires":[["39a03520.eba3b2"]]},{"id":"39a03520.eba3b2","type":"change","z":"4559f07e.c899b","name":"","rules":[{"t":"set","p":"rec_data","pt":"global","to":"rec_msg","tot":"msg"},{"t":"set","p":"received","pt":"global","to":"received","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":520,"wires":[["5f75c424.f205fc"]]},{"id":"9b043ef0.15066","type":"firebase modify","z":"4559f07e.c899b","name":"Nipun Base Cumulative Data","firebaseconfig":"","childpath":"msg.childpath","method":"push","value":"msg.payload","priority":"msg.priority","x":520,"y":660,"wires":[[]]},{"id":"69aa7d6.281b384","type":"firebase.on","z":"4559f07e.c899b","name":"Receive Data Cumulative","firebaseconfig":"","childpath":"msg.childpath","atStart":true,"eventType":"value","queries":[],"x":370,"y":520,"wires":[["889935eb.fd83c"]]},{"id":"21ffd97b.4e7026","type":"inject","z":"4559f07e.c899b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"30 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":760,"wires":[["b4ddc50e.b96a7"]]},{"id":"8099f8cb.7ad25","type":"debug","z":"4559f07e.c899b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":700,"wires":[]},{"id":"b4ddc50e.b96a7","type":"change","z":"4559f07e.c899b","name":"","rules":[{"t":"set","p":"childpath","pt":"msg","to":"msgpath2","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"daily_data","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":860,"wires":[["ce3cfe9.1e8438"]]},{"id":"ce3cfe9.1e8438","type":"firebase modify","z":"4559f07e.c899b","name":"Nipun Base Daily Data","firebaseconfig":"","childpath":"msg.childpath","method":"push","value":"msg.payload","priority":"msg.priority","x":480,"y":900,"wires":[["8099f8cb.7ad25"]]},{"id":"eba9479c.d2455","type":"inject","z":"4559f07e.c899b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"00 01 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":980,"wires":[["ca337993.93d918"]]},{"id":"2b452cdf.c5a654","type":"debug","z":"4559f07e.c899b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":920,"wires":[]},{"id":"ca337993.93d918","type":"change","z":"4559f07e.c899b","name":"","rules":[{"t":"set","p":"childpath","pt":"msg","to":"msgpath3","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"safety_facs","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":1080,"wires":[["ceecc82.223d938"]]},{"id":"ceecc82.223d938","type":"firebase modify","z":"4559f07e.c899b","name":"Nipun Base Safety Factors","firebaseconfig":"","childpath":"msg.childpath","method":"push","value":"msg.payload","priority":"msg.priority","x":460,"y":1040,"wires":[["2b452cdf.c5a654"]]},{"id":"bacec10.754d64","type":"firebase.on","z":"4559f07e.c899b","name":"Receive Past Data","firebaseconfig":"","childpath":"","atStart":true,"eventType":"value","queries":[],"x":230,"y":1180,"wires":[["ae8b8cfd.1b4ad"]]},{"id":"ae8b8cfd.1b4ad","type":"function","z":"4559f07e.c899b","name":"trend_check","func":"let mqtt_district = global.get(\"mqtt_district\");\nlet date = new Date().toJSON().slice(0,10).replace(/-/g,'/');\nlet tdd = msg.payload.daily_data[date];\n\nconst today = new Date();\nconst yesterday = new Date(today);\nconst day_befo_yes = new Date(today);\nconst day_bef_bef_yes = new Date(today);\n\nyesterday.setDate(yesterday.getDate() - 1);\nday_befo_yes.setDate(yesterday.getDate() - 2);\nday_bef_bef_yes.setDate(yesterday.getDate() - 3);\n\ntoday.toDateString();\nyesterday.toDateString();\nday_befo_yes.toDateString();\nday_bef_bef_yes.toDateString();\n\ndate1 = yesterday.toJSON().slice(0,10).replace(/-/g,'/');\ndate2 = day_befo_yes.toJSON().slice(0,10).replace(/-/g,'/');\ndate3 = day_bef_bef_yes.toJSON().slice(0,10).replace(/-/g,'/');\n\ndd1 = msg.payload.daily_data[date1];\ndd2 = msg.payload.daily_data[date2];\ndd3 = msg.payload.daily_data[date3];\n\nlet average = (dd1[mqtt_district] + dd2[mqtt_district] +dd3[mqtt_district])/3;\nvar mqtt_send;\n\nif (average > tdd[mqtt_district]){\n    mqtt_send = true;\n}\nelse{\n    mqtt_send = false;\n} //true says that trend is inclining, false says that trend is \n//declining\nreturn {\n    mqtt_send:mqtt_send\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1220,"wires":[["5d2d3c62.51decc"]]},{"id":"5d2d3c62.51decc","type":"change","z":"4559f07e.c899b","name":"","rules":[{"t":"set","p":"mqtt_data","pt":"global","to":"mqtt_send","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1180,"wires":[[]]},{"id":"14c3050b.9cea53","type":"mqtt in","z":"4559f07e.c899b","name":"","topic":"safety_check","qos":"0","datatype":"auto","broker":"a860e12c.343e18","nl":false,"rap":true,"rh":0,"x":110,"y":1360,"wires":[["3a5b8162.8220d6"]]},{"id":"1cb483bd.20dbb4","type":"mqtt out","z":"4559f07e.c899b","name":"","topic":"safety_check","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a860e12c.343e18","x":600,"y":1460,"wires":[]},{"id":"7baf9b39.ab328c","type":"inject","z":"4559f07e.c899b","name":"","props":[{"p":"dis","v":"mqtt_district","vt":"global"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"safety_check","x":190,"y":1520,"wires":[["82f3bfe4.96938"]]},{"id":"7e7f759b.b9ec4c","type":"debug","z":"4559f07e.c899b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":1340,"wires":[]},{"id":"82f3bfe4.96938","type":"change","z":"4559f07e.c899b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"safety_facs[msg.dis]","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1600,"wires":[["e7801ef0.001788"]]},{"id":"3a5b8162.8220d6","type":"change","z":"4559f07e.c899b","name":"","rules":[{"t":"set","p":"mqtt_district","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1420,"wires":[["7e7f759b.b9ec4c"]]},{"id":"e7801ef0.001788","type":"function","z":"4559f07e.c899b","name":"","func":"if (parseInt(msg.payload) < 0.001 ){\n    return {\n        payload: true\n    };\n}\nelse{\n    return{\n        payload:false\n    };\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1560,"wires":[["1cb483bd.20dbb4"]]},{"id":"a860e12c.343e18","type":"mqtt-broker","name":"","broker":"https://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]